#hum{text-align: center;
margin-top: 10px;
border-bottom: 2px solid #2554C7;}
label {
	float: left;
    width: 10em;
    text-align: right;
	font-weight: bold;
	padding-right: 1.5em;} 
textarea {
	
	}
#complaint{
	font-weight: bold;
	margin-left: 4.7em;
}
legend {
	text-align: center;
	font-weight: bold;
	}
#serviceT{
	border:1px solid;
}
#submit {
	margin-top: 4em;
	background-color: yellow;
	color: blue;
	font-weight: bold;
	margin-left: 13.7em;}
#reset {
	margin-top: 4em;
	background-color: yellow;
	color: blue;
	font-weight: bold;
	margin-left: 0.5em;}

#heading {
	  margin-left: 13px;}
#pdfs{float:left;
	width: 650px;
	margin-bottom: 150px;
	margin-left: 10px;}
#formFill{
  color: red;  
}
form{
	margin-left: 2em;
	margin-right: 2em;
}
.pdfs{
	background-color: #2554C7;
	margin-right: 55%;
	font-weight: bold;
	text-align: center;
}
.pdfs a {
	color: gold;
	text-decoration: none;
}	
article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
