#center{	
	border: 1px;
	width: 825px;
	margin: 25px auto;
	
}

#list li{
	display: inline-block;
	list-style: none;
	padding: 5px;
}

table{
		border: 1px solid black;
		border-collapse: collapse;
	    box-shadow: 10px 10px 5px #888888;
	}
	
th, td{
		border: 1px solid black;
		padding: .2em   .7em;
		text-align: center;
}

th.left, td.left{
				text-align: left;
}

.closed{
	color: red;
	background:#DCDCDC;
}
article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }